.checkoutProduct{
    display: flex;
    margin: 20px 0;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__title{
    font-size: 16px;
    font-weight: 800;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 2px 3px;
}